<div class="container-fluid">
  <div class="row">
    <!-- Side menu -->
    <div class="d-none d-lg-block col-lg-6 col-xl-5 col-xxl-4">
      <nav class="navbar-light bg-light sidebar fixed-sidebar">
        <a routerLink="/" class="navbar-brand">
          <img alt="Brand" src="assets/logo.png" class="img-fluid py-3 px-2">
        </a>
        <div>
          <ng-select [items]="recipes" name="recipe" class="mx-2 mb-2" placeholder="Rechercher une recette" notFoundText="Pas de recette trouvée"
          bindLabel="name" bindValue="id" (change)="goToRecipe($event)"></ng-select>
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" routerLink=".">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/toutes-les-recettes">Afficher toutes les recettes</a></li>
            <li class="nav-item"><a class="nav-link" (click)="goToRandomRecipe()">Afficher une recette aléatoire</a></li>
            <li class="nav-item" *isAuthenticated="true"><a class="nav-link" (click)="addRecipe()">Ajouter une recette</a></li>
            <li class="nav-item" *isAuthenticated="false"><a class="nav-link" (click)="connect()">Connexion</a></li>
            <li class="nav-item" *isAuthenticated="true"><a class="nav-link" (click)="disconnect()">Déconnexion</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- Main page -->
    <div class="col col-lg-18 col-xl-19 col-xxl-20">
      <!-- Header -->
      <header class="row navbar navbar-expand-lg navbar-light pt-0">
        <!-- Small screen menu -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-lg-none border-bottom">
          <div class="container-fluid ps-2">
            <a class="navbar-brand text-secondary font-weight-bold me-0" href="#">May the Fork be with you</a>
            <button class="navbar-toggler" type="button" (click)="collapse.toggle()">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="navbar-collapse">
              <ng-select [items]="recipes" name="recipe" class="mt-3" placeholder="Rechercher une recette" notFoundText="Pas de recette trouvée" bindLabel="name" bindValue="id" (change)="goToRecipe($event)"></ng-select>
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" (click)="goToPage()">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" (click)="goToPage('/toutes-les-recettes')">Afficher toutes les recettes</a></li>
                <li class="nav-item"><a class="nav-link" (click)="goToRandomRecipe()">Afficher une recette aléatoire</a></li>
                <li class="nav-item" *isAuthenticated="true"><a class="nav-link" (click)="addRecipe()">Ajouter une recette</a></li>
                <li class="nav-item" *isAuthenticated="false"><a class="nav-link" (click)="connect()">Connexion</a></li>
                <li class="nav-item" *isAuthenticated="true"><a class="nav-link" (click)="disconnect()">Déconnexion</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Big screen title -->
        <div class="col-sm-24 d-none d-lg-block yellow">
          <h1 id="main-title" class="text-light font-weight-bold pt-3 pb-2 ps-2">May the Fork be with you</h1>
        </div>
      </header>
      <div class="row">
        <div class="col px-4 py-2">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="footer">
        <div class="row">
          <div class="col-xs-24 col-sm-12">
            <h3 class="pt-3">Plan du site</h3>
            <p class="mb-1"><a routerLink="/">Accueil</a></p>
            <p class="mb-1"><a routerLink="/toutes-les-recettes">Afficher toutes les recettes</a></p>
            <p class="mb-1"><a class="text-primary" (click)="goToRandomRecipe()">Afficher une recette aléatoire</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
