@import "src/assets/variables";

.fixed-sidebar {
    position: fixed;
    height: 100vh;
    width: inherit;
    overflow: auto;
    top: 0;
    left: 0;
    border-right: 1px solid #e7e7e7;
}

header.navbar > .yellow {
    background-color: $main-color;
}

.navbar-brand > img {
    display: block;
    width: 60%;
    margin: auto;
}

.nav > .nav-item > .nav-link {
    color: #777;
}

.nav > .nav-item > .nav-link:hover,
.nav > .nav-item > .nav-link:focus {
    background-color: #f0f0f0;
    color: #333;
}

#main-title {
    font-size: 48px;
}

.footer {
    margin: 0px -12px;
    padding: 0px 30px 30px;
    background-color: #f8f8f8;
    border-top: 2px solid #ff9b28;
}
