<h2>Oups</h2>
<div class="row">
    <div class="col">
        <p>Erreur 404 : la page n'a pas été trouvée.</p>
        <img src="assets/Gaston_Programmeur.jpg" alt="Erreur" class="img-fluid" />
    </div>
</div>
