.hovereffect {
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.hovereffect h2 {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    margin: 0px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}

.hovereffect .img {
    float: left;
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.hovereffect .overlay {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: calc(100% - 40px);
}

.hovereffect p.info {
    display: inline-block;
    width: 96%;
    text-decoration: none;
    padding: 7px 14px;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: normal;
    margin: 7px;
}

.hovereffect:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.hovereffect:hover p.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
