.thumbnail-recette {
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
}
.thumbnail-recette .img {
    float: left;
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

.recette ol > li {
    list-style-type: none;
    counter-increment: repas;
}

.recette ol > li:not(:first-child) {
    margin-top: 10px;
}

.recette ol > li::before {
    content: counter(repas);
    padding: 4px 8px;
    margin-right: 8px;
    vertical-align: top;
    background: #ff9b28;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
    margin-left: -31px;
}
.copy-ingredient {
    cursor: copy;
}
