<div class="row mb-3">
    <div class="col">
        <h2>{{ title }}</h2>
    </div>
</div>
<div class="row" *ngIf="recipes && recipes.length > 0">
    <div class="col-xs-24 col-sm-12 col-lg-8 col-xxl-6" *ngFor="let recipe of recipes">
        <div class="hovereffect">
            <a [routerLink]="['/recette/', recipe.id]">
                <h2>{{ recipe.name }}</h2>
                <div class="img" [style]="'background: no-repeat url(&quot;' + getImageUrl(recipe.pictureName) + '&quot;);'">&nbsp;</div>
                <div class="overlay" *ngIf="recipe.description">
                    <p class="info">{{ recipe.description }}</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div *ngIf="recipes && recipes.length === 0" class="alert alert-warning" role="alert">
    Pas de recette trouvée.. On se bouge !
</div>
<div *ngIf="!recipes" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>