.input-group > .dropdown > button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-outline-semilight {
    color: #6c757d;
    border-color: #ced4da;
}
.btn-outline-semilight:hover {
    background-color: #e9ecef;
}