<div class="modal-header py-2">
    <h4 class="modal-title">Supprimer une recette</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <p>Êtes-vous sûr de vouloir supprimer la recette "{{ recipe.name }}" ?</p>
</div>
<div class="modal-footer py-2">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Annuler</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete()">Confirmer</button>
</div>