<form [formGroup]="recipeForm" (submit)="save()">
    <div class="modal-header py-2">
        <h4 class="modal-title" *ngIf="!update">Ajouter une recette</h4>
        <h4 class="modal-title" *ngIf="update">Modifier une recette</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-2">
            <div class="col-12">
                <label for="recipeName" class="form-label">Nom *</label>
                <input type="text" ngbAutofocus class="form-control" id="recipeName" formControlName="name">
            </div>
            <div class="col-12">
                <label for="recipeType" class="form-label">Type de recette *</label>
                <select class="form-control" id="recipeType" formControlName="type">
                    <option value="Entrée">Entrée</option>
                    <option value="Plat">Plat</option>
                    <option value="Dessert">Dessert</option>
                </select>
            </div>
        </div>
        <div class="mb-2">
            <label for="recipeDescription" class="form-label">Description</label>
            <input type="text" class="form-control" id="recipeDescription" formControlName="description">
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <label for="recipeDifficulty" class="form-label">Difficulté *</label>
                <select class="form-control" id="recipeDifficulty" formControlName="difficulty">
                    <option value="1">Très facile</option>
                    <option value="2">Facile</option>
                    <option value="3">Moyen</option>
                    <option value="4">Difficile</option>
                    <option value="5">Très difficile</option>
                </select>
            </div>
            <div class="col-12">
                <label for="recipePortions" class="form-label">Nombre de parts *</label>
                <input type="number" class="form-control" id="recipePortions" formControlName="portions" min="0">
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12">
                <label for="recipePreparationTime" class="form-label">Temps de préparation *</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="recipePreparationTime" formControlName="preparationTime" min="0">
                    <span class="input-group-text">minutes</span>
                </div>
            </div>
            <div class="col-12">
                <label for="recipeCookingTime" class="form-label">Temps de cuisson *</label>
                <div class="input-group">
                    <input type="number" class="form-control" id="recipeCookingTime" formControlName="cookingTime" min="0">
                    <span class="input-group-text">minutes</span>
                </div>
            </div>
        </div>
        <div class="mb-2" formArrayName="ingredients">
            <label for="recipeIngredients" class="form-label">
                Ingrédients *
                <a class="btn btn-link btn-link-success p-0" (click)="addIngredient()"><fa-icon icon="plus"></fa-icon></a>
            </label>
            <div class="row mb-1" *ngFor="let ingredient of ingredients.controls; let i = index; let isFirst = first; let isLast = last;" [formGroupName]="i">
                <div class="col-12"><input type="text" class="form-control" formControlName="name"></div>
                <div class="col-4"><input type="number" class="form-control" formControlName="amount" min="0" max="1000" step="0.01"></div>
                <div class="col-6">
                    <div class="input-group">
                        <input type="text" class="form-control" formControlName="measuringUnit">
                        <div ngbDropdown class="d-inline-block" placement="bottom-end">
                            <button type="button" class="btn btn-outline-semilight" id="measureProposal" ngbDropdownToggle></button>
                            <div ngbDropdownMenu aria-labelledby="measureProposal">
                                <a *ngFor="let measuringUnit of measuringUnits" ngbDropdownItem (click)="selectMeasure(ingredient.get('measuringUnit')!, measuringUnit)">{{ measuringUnit }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 ps-0"><a class="btn btn-link btn-link-danger ps-1 pb-0" *ngIf="!isFirst" (click)="deleteIngredient(i)"><fa-icon icon="xmark" size="lg"></fa-icon></a></div>
            </div>
        </div>
        <div class="mb-2">
            <label for="recipeSteps" class="form-label">Étapes *</label>
            <angular-editor class="form-control" id="recipeSteps" formControlName="steps" [config]="editorConfig"></angular-editor>
        </div>
        <div class="mb-2">
            <label *ngIf="!update" for="recipePicture" class="form-label">Image *</label>
            <label *ngIf="update" for="recipePicture" class="form-label">Changer l'image (actuel : {{ currentRecipe?.pictureName }})</label>
            <input class="form-control" type="file" id="recipePicture" formControlName="picture" accept="image/png, image/jpeg" (change)="handleFileInput($event.target)">
        </div>
    </div>
    <div class="modal-footer py-2">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Annuler</button>
        <button type="submit" class="btn btn-success" [disabled]="recipeForm.invalid || isSaving">
            <fa-icon *ngIf="!isSaving" icon="save"></fa-icon>
            <div *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status"></div>
            Sauvegarder
        </button>
    </div>
</form>