<div *ngIf="recipe">
    <div class="row mb-3">
        <div class="col">
            <h2>
                {{ recipe.name }}&nbsp;
                <div class="btn" (click)="editRecipe()" *isAuthenticated="true"><fa-icon icon="pen"></fa-icon></div>
                <div class="btn" (click)="deleteRecipe()" *isAuthenticated="true"><fa-icon icon="trash"></fa-icon></div>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 col-lg-8 col-xxl-6">
            <div class="thumbnail-recette">
                <div class="img" [style]="'background: url(&quot;' + getImageUrl(recipe.pictureName) + '&quot;);'">&nbsp;</div>
            </div>
        </div>
        <div class="col-md-12 col-lg-16 col-xxl-18">
            <div class="row">
                <div class="col-24 mb-3" *ngIf="recipe.description">
                    <div class="card">
                        <div class="card-body">
                            <p>{{ recipe.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-18 mb-2 mb-md-0">
                    <div class="row">
                        <div class="col col-xs-10 col-sm-8 col-md-14 col-lg-10">Difficulté</div>
                        <div class="col col-xs-14 col-sm-16 col-md-10 col-lg-8">
                            <fa-icon icon="star" *ngFor="let _ of [].constructor(+recipe.difficulty)"></fa-icon>
                            <fa-icon [icon]="['far', 'star']" *ngFor="let _ of [].constructor(5 - +recipe.difficulty)"></fa-icon>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-10 col-sm-8 col-md-14 col-lg-10">Nombre de parts</div>
                        <div class="col col-xs-14 col-sm-16 col-md-10 col-lg-8">
                            {{ recipe.portions }} x <fa-icon icon="user"></fa-icon>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-10 col-sm-8 col-md-14 col-lg-10">
                            <fa-icon icon="clock"></fa-icon>&nbsp;préparation
                        </div>
                        <div class="col col-xs-14 col-sm-16 col-md-10 col-lg-8">{{ recipe.preparationTime }} minutes</div>
                    </div>
                    <div class="row">
                        <div class="col col-xs-10 col-sm-8 col-md-14 col-lg-10">
                            <fa-icon icon="clock"></fa-icon>&nbsp;cuisson
                        </div>
                        <div class="col col-xs-14 col-sm-16 col-md-10 col-lg-8">{{ recipe.cookingTime }} minutes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-24 col-lg-6">
            <h3>Ingrédients</h3>
            <ul class="ps-3">
                <li *ngFor="let ingredient of recipe.ingredients"><span class="copy-ingredient" (click)="copyIngredient(ingredient.name)">{{ ingredient.name }}</span> ({{ ingredient.amount }}<span *ngIf="ingredient.measuringUnit"> {{ ingredient.measuringUnit }}</span>)</li>
            </ul>
        </div>
        <div class="col-xs-24 col-sm-24 col-lg-18">
            <h3>Recette</h3>
            <div [innerHTML]="recipe.steps" class="recette"></div>
        </div>
    </div>
</div>
<div *ngIf="!recipe" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>