<form [formGroup]="connectionForm" (submit)="connect()">
    <div class="modal-header py-2">
        <h4 class="modal-title">Connexion</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>
    <div class="modal-body">
        <ngb-alert type="danger" [dismissible]="false" *ngIf="credentialsError">
            Wrong credentials provided
        </ngb-alert>
        <div class="mb-2">
            <label for="connectionUsername" class="form-label">Login</label>
            <input type="text" class="form-control" id="connectionUsername" formControlName="username">
        </div>
        <div>
            <label for="connectionPassword" class="form-label">Mot de passe</label>
            <div class="input-group">
                <input [type]="revealPassword ? 'text' : 'password'" class="form-control" id="connectionPassword" formControlName="password">
                <span class="input-group-text cursor-pointer" (click)="togglePassword()">
                    <fa-icon *ngIf="!revealPassword" icon="eye"></fa-icon>
                    <fa-icon *ngIf="revealPassword" icon="eye-slash"></fa-icon>
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer py-2">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Annuler</button>
        <button type="submit" class="btn btn-success" [disabled]="connectionForm.invalid || isConnecting">
            <fa-icon *ngIf="!isConnecting" icon="paper-plane"></fa-icon>
            <div *ngIf="isConnecting" class="spinner-border spinner-border-sm" role="status"></div>
            Se connecter
        </button>
    </div>
</form>