$grid-columns:      24;

@import "~@ng-select/ng-select/themes/default.theme.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Alice';
    src: url(assets/Alice-Regular.ttf);
}

@font-face {
    font-family: 'Cmu';
    src: url(assets/cmunbmr.ttf);
}

/* Global styles */
h1, h2, h3 {
    font-family: Alice;
}

body, input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
}

p, a, li, th, td {
    font-family: Cmu, Arial;
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    margin-bottom: 0;
}

.font-weight-bold {
    font-weight: bold;
}

/* Forms */
input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid,
angular-editor.ng-invalid {
    border-left: 5px solid red !important;
}

.form-label {
    margin-bottom: 0.2rem;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.btn-link-danger {
    color: black;
}

.btn-link-danger:hover,
.btn-link-danger:focus {
    color: var(--bs-danger);
}

.btn-link-success {
    color: black;
}

.btn-link-success:hover,
.btn-link-success:focus {
    color: var(--bs-success);
}